@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #F5F7FA;
}
header {
    margin-top: 1.5rem;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav .nav-list {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
nav .nav-list .nav-item {
    list-style: none;

}
nav .nav-list .nav-item .nav-links {
    text-decoration: none;
    color: #18191F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.nav-reg {
    gap: 1rem;
    display: flex;
    align-items: center;
}
.nav-reg a {
    text-decoration: none;
}
.login-btn {
    color: #4CAF4F;
    background-color: #fff;
}
.signup-btn {
    color: #fff;
    background-color: #4CAF4F;
    padding: 10px 20px;
    border-radius: 6px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    backdrop-filter: blur(20px);
    z-index: 999;
    height: 100vh;
    width: 100%;
    display: none;
}
.sidebar li {
    list-style: none;
    margin: 1rem;
}
.sidebar li a {
    text-decoration: none;
    color: #18191F;
}
.menu-btn {
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
}
.ri-close-large-line {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.5rem;
}
section {
    max-width: 1440px;
    margin: 1rem;
    padding: 1rem 5rem;
}
.hero-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    margin-top: 5rem;
    background-color: #F5F7FA;
}
.hero-text {
 align-self: flex-start;
 margin-top: 2rem;
}
.hero-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 76px;
    font-weight: 600;
    color: #4D4D4D;
}
.hero-title span {
    color: #4CAF4F;
}
.hero-desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #717171;
}
.hero-img {
    width: 100%;
}
.hero-img img {
    background-size: cover;
    width: 100%;
    display: block;
}
.hero-btn {
    color: #fff;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    text-decoration: none;
}
@media screen and (max-width: 950px) {
    .menu-btn {
        display: block;
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .nav-list .nav-item {
        display: none;
    }
    
    nav {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 1rem;
        height: 50px; 
    }
    
    .nav-logo {
       
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .nav-reg {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen and (max-width: 700px) {
    .signup-btn {
        display: none;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1220px) {
    

}
@media screen and (max-width: 950px) {
.hero-section {
    grid-template-columns: 2fr 1.5fr;
    gap: 1rem;
}
.hero-title {
    font-size: 3rem;
    line-height: 60px;
}
.hero-desc {
    font-size: 14px;
}
.hero-btn {
    font-size: 14px;
}
}
/* For medium devices */
@media screen and (max-width: 800px) {
    .hero-title {
       font-size: 2.3rem;
       line-height: 50px;
    }
    .hero-section {
        margin-top: 3rem;
        gap: 2rem;
    }
    .hero-desc {
        font-size: 12px;
    }
    .hero-btn {
        font-size: 12px;
    }
}
@media screen and (max-width: 700px) {
 .hero-section {
    grid-template-columns: 1fr;
 }
 .hero-img {
    width: 60%;
 }
 .hero-text {
    text-align: center;
    margin-bottom: 2rem;
 }
}
/* For small devices */
@media screen and (max-width: 450px) {
.hero-title {
    font-size: 2rem;
    line-height: 42px;
}
.hero-desc {
    font-size: 10px;
}
.hero-btn {
    font-size: 10px;
    padding: 10px 20px;
}
.hero-img {
    width: 80%;
}
}
@media screen and (max-width: 320px) {
    .hero-img {
        width: 100%;
    }
    .hero-title {
        font-size: 1.5rem;
        line-height: 35px;
        margin-bottom: .3rem;
    }
    .hero-desc {
        font-size: 10px;
        line-height: 18px;
        margin-bottom: 1.3rem;
    }
    .hero-btn {
        font-size: 10px;
        padding: 8px 15px;
    }
}

